.App {
  text-align: center;
}

.top-header {
  display: flex;
  align-items: center;
  gap: 25px;
  height: 80px;
  background-color: cornflowerblue;
}

.user-card, .post-card {
  width: 200px;
  margin: 10px;
  padding: 5px;
  background-color: darkgrey;
  border: 1px outset black;
}
.flex {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
